body{
    background-color: blueviolet;
}

h1{
    color: rgb(14, 215, 61);
}

div{
    color: blue;

}

.hadding{
    color: brown;

}
#name1{
    color: rgb(255, 183, 0);
}
#name2{
    color: rgb(8, 179, 236);

}
#name3{
    color: rgb(255, 0, 119);

}

